<!--Here i transfer dates (inputs) to the child component navigation-->
<!--Output---nie kazvame navigation componenta, 6te ima6 event koito e deklariran vutre(onChildOutput event, i na nego iskam
  da izvika6 funkciqta outputChildHandler, koqto e deklarirana v appComponentata, i tova koeto se slu4va na click ru4no, kazvame mu fire ni tozi event obratno do parent
  zatova vseki put che navigation komponenta e cuknat, izvestqva appComponenta)-->

<app-navigation
[title]="title"
[activeUsers]="userService.users"
(onChildOutput)="userService.outputChildHandler()"/>
<span>{{ title }} app is running!</span>
<hr/>
<div>
  <!--4rez #inputName i #inputAge vzimame referenziq ot samiq component i direktno to si zadelq promenlivite inputName i inputAge
  i gi podava-->
  <input #inputName type="text" placeholder="name">
  <input #inputAge type="text" placeholder="age">
  <button (click)="setService(inputName, inputAge)">Add user</button>
</div>
<app-user-list [users]="userService.users"/>

